.carouselItem > img:hover {
    filter: contrast(0.4);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-filter: contrast(0.4);
}
